body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #F2D2BD; */
    background-color: #FAF0DC;
    /* background-color: #F5F5DC; */
    overflow-x:hidden;
    animation: 1s B both;
}
@keyframes B {
    0%{
        opacity: 0;
    }
    
}

:root{
    --Font:  'Aboreto', cursive;
    --PARA:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --Matte-B:  #28282B;
    --OffWhite: #FAF9F6;

    --Image: url(https://images.unsplash.com/photo-1551184451-76b762941ad6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);

}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FAF0DC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 13px;
}


#NavBar-container{
    
    position: relative;
    width: 81vw;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--Font);
    /* border: 2px solid red; */
}

#NavBar-1{
    width: 23%;
    height: 86%;
    text-align: center;
    /* border: 2px solid red; */
}
#NavBar-2{
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#NavBar-2 a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin: 1rem;
    transition: 0.3s;
}


